#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        plusmin: plusmin {
            compatible = "zmk,behavior-hold-tap";
            label = "PLUSMIN";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            quick-tap-ms = <150>;
            hold-trigger-key-positions = <47>;
            hold-trigger-on-release;
        };

        mouse: mouse {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE";
            bindings = <&mkp>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <400>;
            hold-trigger-key-positions = <53>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3            &kp N4          &kp N5       &kp N6        &kp N7     &kp N8     &kp N9      &kp N0    &kp BACKSPACE
&kp TAB         &kp Q   &kp W   &kp E             &kp R           &kp T        &kp Y         &kp U      &kp I      &kp O       &kp P     &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A   &kp S   &kp D             &kp F           &kp G        &kp H         &kp J      &kp K      &kp L       &kp SEMI  &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C             &kp V           &kp B        &kp N         &kp M      &kp COMMA  &kp PERIOD  &kp FSLH  &kp EQUAL
                                &kp LEFT_COMMAND  &to 1           &kp MINUS    &kp SPACE     &kp ENTER
                                                  &mouse MB2 MB1  &kp CAPS     &kp LEFT_ALT
            >;
        };

        layer_1 {
            bindings = <
&kp F1          &kp F2           &kp F3           &kp F4            &kp F5           &kp F6       &kp F7        &kp F8     &kp F9    &kp F10        &kp F11   &kp F12
&kp CAPS        &kp GRAVE        &kp KP_NUMBER_7  &kp KP_NUMBER_8   &kp KP_NUMBER_9  &kp MINUS    &kp DELETE    &none      &kp UP    &kp BACKSPACE  &none     &kp RIGHT_BRACKET
&kp LEFT_SHIFT  &kp A            &kp KP_NUMBER_4  &kp KP_NUMBER_5   &kp KP_NUMBER_6  &kp EQUAL    &none         &kp LEFT   &kp DOWN  &kp RIGHT      &none     &none
&kp LCTRL       &kp KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2   &kp KP_NUMBER_3  &none        &none         &none      &none     &kp PERIOD     &kp BSLH  &kp MINUS
                                                  &kp LEFT_COMMAND  &to 0            &kp MINUS    &kp SPACE     &kp ENTER
                                                                    &mouse MB2 MB1   &to 2        &kp LEFT_ALT
            >;
        };

        layer_2 {
            bindings = <
&trans  &bt BT_PRV  &bt BT_NXT  &bt BT_CLR  &bt BT_CLR_ALL  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans      &trans      &trans          &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans      &trans      &trans          &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans      &trans      &trans          &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                &trans      &to 0           &trans    &none   &trans
                                            &trans          &to 0     &trans
            >;
        };

        /* layer_2 {
            bindings = <
&none  &none   &none    &none   &none         &none         &kp N1         &none         &none     &none  &none   &to 0
&none  &none   &none    &none   &none         &none         &none         &none          &rgb_ug RGB_BRD &rgb_ug RGB_BRI  &rgb_ug RGB_EFF   &rgb_ug RGB_TOG
&none  &none   &none    &none   &none         &none         &none         &mkp LCLK     &mkp RCLK  &none  &none   &none
&none  &none   &none    &none   &bt BT_NXT  &bt BT_CLR    &none         &none         &none     &none  &none   &none
                                   &none         &none         &none         &none         &none
                                                 &none         &none         &none
            >;
       
            
        };

       Mouse {
            bindings = <
&none        &none         &none         &none         &none      &none         &none       &none      &none         &none         &none         &none
&none        &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 3  &none      &bt BT_CLR    &bt BT_CLR  &none      &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &none
&none        &trans        &trans        &mkp MCLK     &trans     &none         &none       &trans     &mkp MCLK     &trans        &trans        &none
&bootloader  &trans        &mkp RCLK     &mo 4         &mkp LCLK  &mo 5         &mo 5       &mkp LCLK  &mo 4         &mkp RCLK     &trans        &bootloader
                                         &mo 5         &mkp LCLK  &mkp RCLK     &mkp RCLK   &mkp LCLK
                                                       &none      &trans        &trans
            >;

            
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
               
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;
                
                
        };*/
    };
};
